@import '../../../common';

.detail-card {
  position: relative;
  @include mat-elevation(6, black, 0.5);

  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: white;
  border-radius: 30px;
  padding: 20px;

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 13px;
    opacity: 0.6;
    border-radius: 10px;
    background: white;
    z-index: $maxZIndex;

    &:hover {
      opacity: 1;
    }
  }

  &.small {
    width: $detailCardSmallWidth;
  }
}

@media only screen and (max-width: $mobileBreakpointWidth) {
  .detail-card {
    &.small {
      width: auto;
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 1020px) {
  .detail-card {
    &.small {
      width: $detailCardSmallWidth;
    }
  }
}
