@import '../../../common';

.detail-card {
  position: relative;
  @include mat-elevation(6, black, 0.5);

  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: white;
  border-radius: 30px;
  padding: 20px;

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 13px;
    opacity: 0.6;
    border-radius: 10px;
    background: white;
    z-index: $maxZIndex;

    &:hover {
      opacity: 1;
    }
  }
}
