<div class="detail-card" [ngClass]="{ small: type === 'osmNode' }">
  <div class="close-button">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'crag'">
      <wci-crag-card-item
        [data]="data"
        [currentLocation]="currentLocation"
        [userLocation]="userLocation"
      ></wci-crag-card-item>
    </ng-container>
    <ng-container *ngSwitchCase="'hike'">
      <wci-hike-card-item
        [data]="data"
        [currentLocation]="currentLocation"
        [userLocation]="userLocation"
      ></wci-hike-card-item>
    </ng-container>
    <ng-container *ngSwitchCase="'place'">
      <wci-place-card-item
        [data]="data"
        [currentLocation]="currentLocation"
        [userLocation]="userLocation"
      ></wci-place-card-item>
    </ng-container>
    <ng-container *ngSwitchCase="'shelter'">
      <wci-shelter-card-item
        [data]="data"
        [currentLocation]="currentLocation"
        [userLocation]="userLocation"
      ></wci-shelter-card-item>
    </ng-container>
    <ng-container *ngSwitchCase="'competition'">
      <wci-competition-card-item
        [data]="data"
        [currentLocation]="currentLocation"
        [userLocation]="userLocation"
      ></wci-competition-card-item>
    </ng-container>
    <ng-container *ngSwitchCase="'osmNode'">
      <wci-poi-card-item
        [data]="data"
        [currentLocation]="currentLocation"
        [userLocation]="userLocation"
      ></wci-poi-card-item>
    </ng-container>
    <ng-container *ngSwitchDefault>{{ 'ERROR' | translate }}</ng-container>
  </ng-container>
</div>
