@import '../../../../common';
@import '../../../../colors';
@import '../../../../mixins';

.container {
  height: 100%;

  .description {
    border-radius: 4px;
  }

  .info {
    width: 60%;
    margin-right: 10px;

    h4 {
      color: black;
      font-size: 28px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 10px;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .description {
      color: black;
      font-size: 18px;
      line-height: 28px;
      font-weight: 100;

      .more {
        margin-top: 15px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        h5 {
          color: rgba(black, 0.8);
          font-size: 20px;
          line-height: 20px;
        }

        span {
          color: rgba(black, 0.8);
          font-size: 16px;
          line-height: 26px;
        }

        mat-accordion {
          margin-top: 10px;
          display: block;

          mat-expansion-panel {
            border: none;
            box-shadow: none;
            border-bottom: 1px solid rgba(black, 0.05);
            border-radius: 0;

            mat-panel-title {
              text-transform: capitalize;
              font-weight: 700;
              font-size: 16px;
              color: $primary;
            }

            mat-panel-description {
              flex-grow: 0;
            }
          }
        }
      }
    }
  }

  .media {
    width: calc(100% - 10px);
    margin: 0 auto;

    img {
      @include mat-elevation(3, black, 0.15);
      width: calc(100% - 20px);
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      padding: 10px;
    }
  }

  .extra {
    width: calc(35% - 5px);
  }
}

.extra {
  position: relative;

  .sub-card {
    @include mat-elevation(2, black, 0.15);

    max-width: 303px;
    min-width: 303px;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top: 190px;
    bottom: 20px;
    background: rgba(black, 0.015);

    &.top {
      top: 20px;
    }
  }

  .dynamic-map {
    position: relative;
    width: 100%;
    height: 360px;
    background: rgba(black, 0.05);

    mgl-map {
      height: 100%;
      width: 100%;
    }
  }

  .go-down-button {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $maxZIndex;

    button {
      width: 42px;
      height: 42px;
      color: white;
      box-shadow: none;

      .mat-icon {
        width: 28px;
        height: 28px;
        font-size: 28px;
        line-height: 15px;
        font-weight: bold;
      }
    }
  }

  .info-box {
    line-height: 15px;
    width: 80% !important;

    mat-icon {
      float: left;
    }

    > div {
      @include multilineTruncate(2);
    }
  }

  .static-map {
    position: relative;
    width: 100%;
    height: 360px;
    background: rgba(black, 0.05);

    .marker {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: $acidRed;
      left: 50%;
      top: 50%;

      &::after {
        display: block;
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        left: -14px;
        top: -14px;
        background: rgba($acidRed, 0.52);
        border-radius: 100%;
      }
    }
  }

  .weather {
    width: 100%;
    height: 180px;
    color: white;
    text-shadow: rgba(black, 0.3) 0 1px 4px;
    background: rgba(black, 0.05);

    &.clear-day {
      background: rgb(92, 175, 255);
      background: linear-gradient(180deg, rgba(92, 175, 255, 1) 0%, rgb(171, 207, 240) 100%);
    }
    &.clear-night {
      background: rgb(0, 75, 147);
      background: linear-gradient(180deg, rgba(0, 75, 147, 1) 0%, rgba(14, 45, 74, 1) 100%);

      .when {
        color: rgba(white, 0.8) !important;
      }
    }
    &.cloudy-day {
      background: rgb(142, 177, 209);
      background: linear-gradient(180deg, rgba(142, 177, 209, 1) 0%, rgba(61, 117, 157, 1) 100%);

      .when {
        color: rgba(white, 0.8) !important;
      }
    }
    &.cloudy-night {
      background: rgb(51, 69, 84);
      background: linear-gradient(180deg, rgba(51, 69, 84, 1) 0%, rgba(22, 57, 82, 1) 100%);

      .when {
        color: rgba(white, 0.8) !important;
      }
    }

    .today,
    .tomorrow {
      position: relative;
      margin: 0px 15px;
      padding: 10px 0;
      border-bottom: 1px solid rgba(white, 0.35);

      &:last-child {
        border-bottom: none;
      }

      .when {
        color: rgba(black, 0.8);
        text-shadow: none;
        position: absolute;
        top: 12px;
        right: 10px;
        text-transform: capitalize;
      }

      wci-skycon {
        margin-top: 5px;
        margin-right: 10px;
      }

      .figures {
        font-weight: 600;

        > div {
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        > div:nth-child(1) {
          font-size: 26px;
          line-height: 24px;
        }
        > div:nth-child(2),
        > div:nth-child(3) {
          font-size: 15px;
          line-height: 18px;
        }

        .figure {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .directions {
    width: 100%;
    height: 34px;
    background: $primaryPale;
    border-top: 1px solid rgba(black, 0.05);
    color: white;
    text-shadow: rgba(black, 0.4) 0 1px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    vertical-align: middle;

    &.title {
      line-height: 34px;
      padding-left: 10px;
    }

    mat-icon {
      display: inline-block;
      font-size: 20px;
      width: 20px;
      height: 20px;
      margin-right: 2px;
      vertical-align: middle;
    }

    .direction-label {
      line-height: 34px;
      vertical-align: middle;
    }

    div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin breakpoints() {
  @media only screen and (max-width: 325px) {
    .extra .directions {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 650px) {
    .container {
      display: block !important;
      flex-direction: initial !important;
      overflow: scroll;
      overflow-x: hidden;

      .info,
      .extra,
      .sub-card {
        min-width: initial;
        max-width: 100%;
        width: 100%;
        margin: 0;
      }

      .info {
        display: flex;
        flex-direction: column;
      }

      .extra {
        margin-top: 10px;
      }

      .sub-card {
        margin-top: 30px;
        position: relative;
        top: initial;
        bottom: initial;

        .static-map {
          img {
            object-fit: cover;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 651px) and (max-width: 768px) {
    .extra {
      .sub-card {
        min-width: initial;

        .direction-label {
          font-size: 13px;
        }

        .static-map {
          img {
            object-fit: cover;
          }
        }

        .weather {
          .when {
            zoom: 0.8;
          }
          .figures {
            zoom: 0.86;

            > div:nth-child(1) {
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: $mobileBreakpointWidth) and (max-width: $smallScreenBreakpointWidth) {
    .extra {
      .sub-card {
        zoom: 0.7;
        top: 260px;
      }
    }
  }
}
