<div *ngIf="data" class="container competition" fxLayout>
  <div class="info">
    <perfect-scrollbar [disabled]="disablePerfectScrollbar">
      <!-- The item title -->
      <h4>{{ data.title }}</h4>
      <!-- -->

      <!-- The competition categories -->
      <div class="categories">
        <mat-chip-list>
          <mat-chip *ngFor="let type of types" color="primary" selected>{{ type }}</mat-chip>
          <mat-chip *ngFor="let specialty of specialties" color="primary" selected>{{ specialty }}</mat-chip>
        </mat-chip-list>
      </div>
      <!-- -->

      <!-- The description + misc. info -->
      <div *ngIf="data.info.details.text" class="description">
        {{ data.info.details.text | capitalizeFirst }}

        <div *ngIf="data.info.details.event_website">
          <a href="{{ data.info.details.event_website }}" target="_blank"
            >{{ 'FURTHER_EVENT_INFO_WEBSITE' | translate }}.</a
          >
        </div>

        <div *ngIf="data.info.details.info_sheet">
          <a href="{{ data.info.details.info_sheet }}" target="_blank">{{ 'DOWNLOAD_INFO_SHEET' | translate }}.</a>
        </div>

        <div *ngIf="data.people.length > 0">
          <div *ngFor="let person of data.people" class="person">
            <strong>{{ person.what }}</strong
            >: {{ person.who }}
          </div>
        </div>

        <!--                          -->
        <!-- TODO: Competition poster -->
        <!--                          -->

        <!--                          -->
        <!-- TODO: Related videos     -->
        <!--                          -->
      </div>
      <!-- -->
    </perfect-scrollbar>
  </div>

  <div class="extra">
    <div fxHide.xs="true" class="go-down-button" (click)="scrollDown()">
      <button mat-fab color="primary">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
    <div class="event-dates">
      <div *ngIf="startDate"><mat-icon>event_available</mat-icon> {{ startDate | amCalendar }}</div>
      <div *ngIf="endDate"><mat-icon>event_busy</mat-icon> {{ endDate | amCalendar }}</div>
    </div>
    <div *ngIf="data.info.place" class="place"><mat-icon>place</mat-icon> {{ data.info.place }}</div>

    <!-- The lateral subcard -->
    <div class="sub-card">
      <perfect-scrollbar #sideScrollbar (psScrollY)="onScrollEvent()" [disabled]="disablePerfectScrollbar">
        <!-- The static map -->
        <div class="static-map">
          <div class="google-button" (click)="goToGoogle(data.coords)">
            <button mat-button>{{ 'OPEN_DIRECTIONS' | translate }}</button>
          </div>
          <div class="marker"></div>
          <img src="{{ staticMapSrc }}" width="100%" height="100%" />
        </div>
        <div class="directions" fxLayout fxLayoutAlign="space-evenly" fxFlexAlign="center">
          <div>
            <mat-icon>directions</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: userLocation:false:false:false"></span
            ></span>
          </div>
          <div>
            <mat-icon>directions_walk</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: userLocation:true:false:false"></span
            ></span>
          </div>
          <div>
            <mat-icon>directions_car</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: userLocation:false:true:false"></span
            ></span>
          </div>
        </div>
        <!-- -->

        <!-- The nearby items -->
        <ng-container *ngIf="nearbyPois.length > 0">
          <wci-detail-nearby [items]="nearbyPois" [distanceCoords]="data.coords" (poiSelected)="goToDetailUrl($event)">
          </wci-detail-nearby>
        </ng-container>
        <!-- -->
      </perfect-scrollbar>
    </div>
    <!-- -->
  </div>
</div>
