<div *ngIf="data" class="container crag" fxLayout>
  <div class="info">
    <!-- The crag title -->
    <h4>{{ data.title }}</h4>
    <!-- -->

    <!-- The description + misc. info -->
    <div *ngIf="data.descr" class="description">
      <perfect-scrollbar>
        {{ data.descr | capitalizeFirst }}

        <div *ngIf="data.access_info" class="more">
          <h5>How to reach it</h5>
          <span>
            {{ data.access_info | capitalizeFirst }}
          </span>
        </div>

        <div *ngIf="data.notes" class="more">
          <h5>Notes</h5>
          <span>
            {{ data.notes | capitalizeFirst }}
          </span>
        </div>

        <!-- The sectors -->
        <div *ngIf="data.sectors && data.sectors.length > 1" class="more sectors">
          <h5>Sectors and routes</h5>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let sector of data.sectors">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ sector.title }}
                </mat-panel-title>
                <mat-panel-description>
                  <span class="min-grade">{{ sector.min_grade }}</span>
                  <span class="max-grade">{{ sector.max_grade }}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-list *ngIf="sector.routes && sector.routes.length > 0">
                <mat-list-item *ngFor="let route of sector.routes">
                  <div fxLayout>
                    <div *ngIf="route.grade" class="route-grade">
                      <strong>{{ route.grade }}</strong>
                    </div>
                    <div class="route-title">{{ route.title | capitalizeFirst }}</div>
                    <div class="route-info" fxLayout>
                      <div *ngIf="route.length" class="route-info">{{ route.length }} mt.</div>
                      <div *ngIf="route.pitons_num" class="route-info">{{ route.pitons_num }} pitons</div>
                      <div *ngIf="route.gear_type" class="route-info">{{ route.gear_type }}</div>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <!-- -->
      </perfect-scrollbar>
    </div>
    <!-- -->
  </div>

  <div class="extra">
    <!-- The coeffs -->
    <div class="stats" *ngIf="data._stats">
      <div *ngIf="data.quality_rank.weather !== null" class="coeff" aria-label="Climate trend">
        <mat-icon aria-hidden="false" aria-label="Warm">brightness_high</mat-icon>
        <mat-progress-bar mode="determinate" value="{{ data.quality_rank.weather * 100 }}"></mat-progress-bar>
      </div>
      <div *ngIf="data.quality_rank.difficulty > 0" class="coeff" aria-label="Difficulty">
        <mat-icon aria-hidden="false" aria-label="Hard">fitness_center</mat-icon>
        <mat-progress-bar mode="determinate" value="{{ data.quality_rank.difficulty * 100 }}"></mat-progress-bar>
      </div>
      <div *ngIf="data.altitude > 0" class="coeff" aria-label="Accessibility">
        <mat-icon aria-hidden="false" aria-label="Far">terrain</mat-icon>
        <mat-progress-bar mode="determinate" value="{{ data.quality_rank.position * 100 }}"></mat-progress-bar>
        <div class="progress-info">{{ data.altitude }} mt.</div>
      </div>
    </div>
    <!-- -->

    <!-- The lateral subcard -->
    <div class="sub-card">
      <perfect-scrollbar>
        <!-- The static map -->
        <div class="static-map">
          <div class="marker"></div>
          <img src="{{ staticMapSrc }}" width="100%" height="100%" />
        </div>
        <div class="directions" fxLayout fxLayoutAlign="space-evenly" fxFlexAlign="center">
          <div>
            <mat-icon>directions</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:false:false:false"></span> kms</span
            >
          </div>
          <div>
            <mat-icon>directions_walk</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:true:false:false"></span> hrs</span
            >
          </div>
          <div>
            <mat-icon>directions_car</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:false:true:false"></span> hrs</span
            >
          </div>
        </div>
        <!-- -->

        <!-- The weather -->
        <div *ngIf="hasForecast" class="weather" [class]="forecastClass">
          <div class="today" fxLayout>
            <div class="when">now</div>
            <wci-skycon [width]="60" [height]="60" [icon]="currentWeather.icon"></wci-skycon>
            <div class="figures">
              <div>{{ currentWeather.temperature }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ currentWeather.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i> {{ currentWeather.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ currentWeather.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ currentWeather.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
          <div class="tomorrow" fxLayout>
            <div class="when">tomorrow</div>
            <wci-skycon [width]="60" [height]="60" [icon]="currentWeather.icon"></wci-skycon>
            <div class="figures">
              <div>{{ tomorrowForecast.temperatureMax }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ tomorrowForecast.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i>
                  {{ tomorrowForecast.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ tomorrowForecast.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ tomorrowForecast.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- -->

        <!-- The nearby items -->
        <div *ngIf="nearbyPois.length > 0" class="nearby">
          <div class="title">Nearby</div>
          <div *ngFor="let item of nearbyPois" class="item">
            <h4 (click)="goToDetailUrl(item)">{{ item.title || item.name }}</h4>
            <div *ngIf="item.coords" [innerHTML]="item.coords | distance: currentLocation"></div>
          </div>
        </div>
        <!-- -->
      </perfect-scrollbar>
    </div>
    <!-- -->
  </div>
</div>
