<div *ngIf="data" class="container crag" fxLayout>
  <div class="info">
    <h4>{{ data.title }}</h4>
    <div *ngIf="data.descr" class="description">
      <perfect-scrollbar>{{ data.descr | capitalizeFirst }}</perfect-scrollbar>
    </div>
  </div>

  <div class="extra">
    <!-- The coeffs -->
    <div class="stats" *ngIf="data._stats">
      <div *ngIf="data.quality_rank.weather !== null" class="coeff" aria-label="Climate trend">
        <mat-icon aria-hidden="false" aria-label="Warm">brightness_high</mat-icon>
        <mat-progress-bar mode="determinate" value="{{ data.quality_rank.weather * 100 }}"></mat-progress-bar>
      </div>
      <div *ngIf="data.quality_rank.difficulty > 0" class="coeff" aria-label="Difficulty">
        <mat-icon aria-hidden="false" aria-label="Hard">fitness_center</mat-icon>
        <mat-progress-bar mode="determinate" value="{{ data.quality_rank.difficulty * 100 }}"></mat-progress-bar>
      </div>
      <div *ngIf="data.altitude > 0" class="coeff" aria-label="Accessibility">
        <mat-icon aria-hidden="false" aria-label="Far">terrain</mat-icon>
        <mat-progress-bar mode="determinate" value="{{ data.quality_rank.position * 100 }}"></mat-progress-bar>
        <div class="progress-info">{{ data.altitude }} mt.</div>
      </div>
    </div>
    <!-- -->

    <!-- The lateral subcard -->
    <div class="sub-card">
      <perfect-scrollbar>
        <!-- The static map -->
        <div class="static-map">
          <div class="marker"></div>
          <img src="{{ staticMapSrc }}" width="100%" height="100%" />
        </div>
        <div class="directions" fxLayout fxLayoutAlign="space-evenly" fxFlexAlign="center">
          <div>
            <mat-icon>directions</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:false:false:false"></span> kms</span
            >
          </div>
          <div>
            <mat-icon>directions_walk</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:true:false:false"></span> hrs</span
            >
          </div>
          <div>
            <mat-icon>directions_car</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:false:true:false"></span> hrs</span
            >
          </div>
        </div>
        <!-- -->

        <!-- The weather -->
        <div *ngIf="hasForecast" class="weather" [class]="forecastClass">
          <div class="today" fxLayout>
            <div class="when">now</div>
            <wci-skycon [width]="60" [height]="60" [icon]="currentWeather.icon"></wci-skycon>
            <div class="figures">
              <div>{{ currentWeather.temperature }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ currentWeather.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i> {{ currentWeather.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ currentWeather.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ currentWeather.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
          <div class="tomorrow" fxLayout>
            <div class="when">tomorrow</div>
            <wci-skycon [width]="60" [height]="60" [icon]="currentWeather.icon"></wci-skycon>
            <div class="figures">
              <div>{{ tomorrowForecast.temperatureMax }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ tomorrowForecast.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i>
                  {{ tomorrowForecast.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ tomorrowForecast.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ tomorrowForecast.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- -->

        <!-- The nearby item -->
        <div class="nearby">
          <div class="title">Nearby</div>
        </div>
        <!-- -->
      </perfect-scrollbar>
    </div>
    <!-- -->
  </div>
</div>
