<div *ngIf="data" class="container hike" fxLayout>
  <div class="info">
    <!-- The item title -->
    <h4>{{ data.title }}</h4>
    <!-- -->

    <div *ngIf="data.descr" class="description">
      <perfect-scrollbar>
        {{ data.descr | capitalizeFirst }}

        <div *ngIf="data.starting_point">
          <strong>Starting from:</strong> {{ data.starting_point | capitalizeFirst }}
        </div>

        <div *ngIf="data.access_info" class="more">
          <h5>How to reach it</h5>
          <span>
            {{ data.access_info | capitalizeFirst }}
          </span>
        </div>

        <div *ngIf="data.notes" class="more">
          <h5>Notes</h5>
          <span>
            {{ data.notes | capitalizeFirst }}
          </span>
        </div>

        <!-- TODO: Add media -->
        <!--                 -->
      </perfect-scrollbar>
    </div>
  </div>

  <div class="extra">
    <mat-chip-list>
      <mat-chip *ngIf="data.difficulty" class="chip" color="primary" selected>
        <mat-icon aria-hidden="false" aria-label="Difficulty">fitness_center</mat-icon>&nbsp;Difficulty:&nbsp;
        <strong>{{ data.difficulty }}</strong>
      </mat-chip>
      <mat-chip *ngIf="data.elevation.low" class="chip" color="primary" selected>
        <mat-icon aria-hidden="false" aria-label="Min. elevation">arrow_downward</mat-icon>&nbsp;Min
        elevation:&nbsp;<strong>{{ data.elevation.low }} mt.</strong>
      </mat-chip>
      <mat-chip *ngIf="data.elevation.high" class="chip" color="primary" selected>
        <mat-icon aria-hidden="false" aria-label="Max. elevation">arrow_upward</mat-icon>&nbsp;Max
        elevation:&nbsp;<strong>{{ data.elevation.high }} mt.</strong>
      </mat-chip>
      <mat-chip *ngIf="data.length" class="chip" color="primary" selected>
        <mat-icon aria-hidden="false" aria-label="Max. elevation">arrow_forward</mat-icon>&nbsp;Length:&nbsp;<strong
          >{{ data.length }} mt.</strong
        >
      </mat-chip>
      <mat-chip
        *ngIf="data.tracks.length > 0"
        class="mouse-enabled"
        color="primary"
        selected
        (click)="downloadGpsTrack(data.tracks[0])"
      >
        <mat-icon aria-hidden="false" aria-label="Has GPS tracks">directions</mat-icon>&nbsp; Download GPS track
      </mat-chip>
    </mat-chip-list>

    <!-- The lateral subcard -->
    <div
      class="sub-card"
      [class]="{
        top: !data.difficulty && !data.elevation.low && !data.elevation.high && !data.length && data.tracks.length == 0
      }"
    >
      <perfect-scrollbar [disabled]="isMapMoving">
        <!-- The static map -->
        <div class="dynamic-map">
          <mgl-map
            #map
            *ngIf="renderMap"
            [style]="mapStyle"
            [zoom]="[zoom]"
            [center]="centerCoords"
            [minZoom]="minZoom"
            [maxZoom]="maxZoom"
            (moveStart)="onMapMove()"
            (moveEnd)="onMapMoved()"
          >
            <!-- The map controls -->
            <mgl-control mglNavigation position="bottom-left"></mgl-control>
            <mgl-control mglScale unit="metric" position="bottom-right"></mgl-control>
            <!-- / -->

            <!-- The GPX track -->
            <mgl-layer
              *ngIf="gpxTrack"
              id="gpx-track"
              type="line"
              [source]="{
                type: 'geojson',
                lineMetrics: true,
                data: gpxTrack
              }"
              [layout]="{
                'line-join': 'round',
                'line-cap': 'round'
              }"
              [paint]="{
                'line-color': 'red',
                'line-width': 3,
                'line-gradient': ['interpolate', ['linear'], ['line-progress'], 0, '#40cd7e', 1, '#ff5f58']
              }"
            ></mgl-layer>
            <!-- -->

            <!-- The current landing point -->
            <mgl-geojson-source id="center" [data]="centerGeoJson"></mgl-geojson-source>
            <mgl-layer
              id="center-point"
              type="circle"
              source="center"
              [paint]="{
                'circle-color': 'rgba(255, 95, 88, 0.8)',
                'circle-radius': 8
              }"
            >
            </mgl-layer>
            <mgl-layer
              id="center-point-2"
              type="circle"
              source="center"
              [paint]="{
                'circle-color': 'rgba(255, 95, 88, 0.5)',
                'circle-radius': 20
              }"
            >
            </mgl-layer>
            <!-- / -->
          </mgl-map>
        </div>
        <div class="directions" fxLayout fxLayoutAlign="space-evenly" fxFlexAlign="center">
          <div>
            <mat-icon>directions</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:false:false:false"></span
            ></span>
          </div>
          <div>
            <mat-icon>directions_walk</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:true:false:false"></span
            ></span>
          </div>
          <div>
            <mat-icon>directions_car</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: currentLocation:false:true:false"></span
            ></span>
          </div>
        </div>
        <!-- -->

        <!-- The weather -->
        <div *ngIf="hasForecast" class="weather" [class]="forecastClass">
          <div class="today" fxLayout>
            <div class="when">now</div>
            <wci-skycon [width]="60" [height]="60" [icon]="currentWeather.icon"></wci-skycon>
            <div class="figures">
              <div>{{ currentWeather.temperature }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ currentWeather.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i> {{ currentWeather.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ currentWeather.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ currentWeather.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
          <div class="tomorrow" fxLayout>
            <div class="when">tomorrow</div>
            <wci-skycon [width]="60" [height]="60" [icon]="currentWeather.icon"></wci-skycon>
            <div class="figures">
              <div>{{ tomorrowForecast.temperatureMax }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ tomorrowForecast.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i>
                  {{ tomorrowForecast.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ tomorrowForecast.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ tomorrowForecast.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- -->

        <!-- The nearby items -->
        <div *ngIf="nearbyPois.length > 0" class="nearby">
          <div class="title">Nearby</div>
          <div *ngFor="let item of nearbyPois" class="item">
            <h4 (click)="goToDetailUrl(item)">{{ item.title || item.name }}</h4>
            <div *ngIf="item.coords" [innerHTML]="item.coords | distance: data.coords:false:false:false"></div>
          </div>
        </div>
        <!-- -->
      </perfect-scrollbar>
    </div>
    <!-- -->
  </div>
</div>
