@import 'common';

@include item-extras();

.extra {
  width: 100% !important;

  .sub-card {
    zoom: 1 !important;
    top: 8px;
  }

  &.withTitle {
    h4 {
      @include multilineTruncate(2);
      font-size: 19px;
      text-transform: capitalize;
    }

    .sub-card {
      top: 35px;
    }
  }
}

@include breakpoints();
