<div *ngIf="data" class="container shelter" fxLayout>
  <div class="info">
    <perfect-scrollbar [disabled]="disablePerfectScrollbar">
      <!-- The item title -->
      <h4>{{ data.name }}</h4>
      <!-- -->

      <div *ngFor="let phone of phoneNumbers" color="primary" class="call-button">
        <a [href]="'tel:' + phone">
          <mat-icon aria-hidden="false">phone</mat-icon>
          <strong>{{ phone }}</strong>
        </a>
      </div>

      <div *ngIf="data.descr" class="description">
        {{ data.descr | capitalizeFirst }}

        <div class="media">
          <div class="image" *ngFor="let image of data.media">
            <img src="{{ image }}" />
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="extra">
    <div fxHide.xs="true" class="go-down-button" (click)="scrollDown()">
      <button mat-fab color="primary">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
    <mat-chip-list>
      <mat-chip *ngIf="data.altitude" class="chip" color="primary" selected>
        <mat-icon aria-hidden="false">arrow_upward</mat-icon>
        &nbsp;{{ 'ALTITUDE' | translate }}:&nbsp;<strong>{{ data.altitude }} mt.</strong>
      </mat-chip>
      <mat-chip
        *ngIf="data.accomodations_food && data.accomodations_food.length < 4"
        class="chip"
        color="primary"
        selected
      >
        <mat-icon aria-hidden="false">restaurant_menu</mat-icon>{{ 'SITS' | translate }}:&nbsp;<strong>{{
          data.accomodations_food
        }}</strong>
      </mat-chip>
      <mat-chip
        *ngIf="data.accomodations_rooms && data.accomodations_rooms.length < 4"
        class="chip"
        color="primary"
        selected
      >
        <mat-icon aria-hidden="false">home</mat-icon>
        {{ 'ROOMS' | translate }}:&nbsp;<strong>{{ data.accomodations_rooms }}</strong>
      </mat-chip>
      <mat-chip *ngIf="data.beds" class="chip" color="primary" selected>
        <mat-icon aria-hidden="false">hotel</mat-icon>
        {{ 'BEDS' | translate }}:&nbsp;<strong>{{ data.beds }}</strong>
      </mat-chip>
    </mat-chip-list>
    <div *ngIf="data.opening" class="info-box">
      <mat-icon aria-hidden="false">calendar_today</mat-icon>
      <div class="capitalize">{{ data.opening }}</div>
    </div>
    <div *ngIf="data.accomodations_food && data.accomodations_food.length > 4" class="info-box">
      <mat-icon aria-hidden="false">restaurant_menu</mat-icon>
      <div class="capitalize">{{ data.accomodations_food }}</div>
    </div>
    <div *ngIf="data.accomodations_rooms && data.accomodations_rooms.length > 4" class="info-box">
      <mat-icon aria-hidden="false">home</mat-icon>
      <div class="capitalize">{{ data.accomodations_rooms }}</div>
    </div>

    <!-- The lateral subcard -->
    <div class="sub-card">
      <perfect-scrollbar
        #sideScrollbar
        (psScrollY)="onScrollEvent()"
        [disabled]="isMapMoving || disablePerfectScrollbar"
      >
        <!-- The dynamic map -->
        <div class="dynamic-map">
          <!-- The mini-map actions -->
          <div class="google-button" (click)="goToGoogle(data.coords)">
            <button mat-button>{{ 'OPEN_DIRECTIONS' | translate }}</button>
          </div>
          <!-- -->

          <mgl-map
            #map
            *ngIf="renderMap"
            [style]="mapStyle"
            [zoom]="[zoom]"
            [center]="centerCoords"
            [minZoom]="minZoom"
            [maxZoom]="maxZoom"
            (mapMouseOver)="onMapBusy(true)"
            (mapMouseOut)="onMapBusy(false)"
          >
            <!-- The map controls -->
            <mgl-control mglNavigation position="bottom-left"></mgl-control>
            <mgl-control mglScale unit="metric" position="bottom-right"></mgl-control>
            <!-- / -->

            <!-- The current landing point -->
            <mgl-geojson-source id="center" [data]="centerGeoJson"></mgl-geojson-source>
            <mgl-layer
              id="center-point"
              type="circle"
              source="center"
              [paint]="{
                'circle-color': 'rgba(255, 95, 88, 0.8)',
                'circle-radius': 8
              }"
            >
            </mgl-layer>
            <mgl-layer
              id="center-point-2"
              type="circle"
              source="center"
              [paint]="{
                'circle-color': 'rgba(255, 95, 88, 0.5)',
                'circle-radius': 20
              }"
            >
            </mgl-layer>
            <!-- / -->
          </mgl-map>
        </div>
        <div class="directions" fxLayout fxLayoutAlign="space-evenly" fxFlexAlign="center">
          <div>
            <mat-icon>directions</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: userLocation:false:false:false"></span
            ></span>
          </div>
          <div>
            <mat-icon>directions_walk</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: userLocation:true:false:false"></span
            ></span>
          </div>
          <div>
            <mat-icon>directions_car</mat-icon
            ><span class="direction-label"
              ><span [innerHTML]="data.coords | distance: userLocation:false:true:false"></span
            ></span>
          </div>
        </div>
        <!-- -->

        <!-- The weather -->
        <div *ngIf="hasForecast" class="weather" [class]="forecastClass">
          <div class="today" fxLayout>
            <div class="when">{{ 'NOW' | translate }}</div>
            <wci-skycon [width]="60" [height]="60" [icon]="currentWeather.icon"></wci-skycon>
            <div class="figures">
              <div>{{ currentWeather.temperature | number: '1.0-0' }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ currentWeather.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i> {{ currentWeather.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ currentWeather.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ currentWeather.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
          <div class="tomorrow" fxLayout>
            <div class="when">{{ 'TOMORROW' | translate }}</div>
            <wci-skycon [width]="60" [height]="60" [icon]="tomorrowForecast.icon"></wci-skycon>
            <div class="figures">
              <div>{{ tomorrowForecast.temperatureMax | number: '1.0-0' }} °C</div>
              <div fxLayout>
                <div class="figure">
                  <i class="wi wi-raindrop"></i> {{ tomorrowForecast.humidity | metric: 'coeff-to-percentage' }}%
                </div>
                <div class="figure">
                  <i class="wi wi-showers"></i>
                  {{ tomorrowForecast.precipProbability | metric: 'coeff-to-percentage' }}%
                </div>
              </div>
              <div fxLayout>
                <div class="figure"><i class="wi wi-horizon-alt"></i> {{ tomorrowForecast.uvIndex }} UVi</div>
                <div class="figure">
                  <i class="wi wi-strong-wind"></i>
                  {{ tomorrowForecast.windSpeed | metric: 'meters_second-to-kilometers_hour' }} km/h
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- -->

        <!-- The nearby items -->
        <ng-container *ngIf="nearbyPois.length > 0">
          <wci-detail-nearby [items]="nearbyPois" [distanceCoords]="data.coords" (poiSelected)="goToDetailUrl($event)">
          </wci-detail-nearby>
        </ng-container>
        <!-- -->
      </perfect-scrollbar>
    </div>
    <!-- -->
  </div>
</div>
