@import 'common';

@include item-extras();

@include breakpoints();

.call-button {
  &:last-child {
    padding-bottom: 10px;
  }

  mat-icon {
    vertical-align: middle;
  }

  a {
    text-decoration: none;
  }

  strong {
    font-size: 18px;
    margin-left: 6px;
  }
}
