<mgl-map
  #map
  [style]="mapStyle"
  [zoom]="[zoom]"
  [center]="centerCoords"
  [minZoom]="minZoom"
  [maxZoom]="maxZoom"
  [pitch]="pitch"
  [bearing]="bearing"
  (mapLoad)="mapLoaded()"
  (moveEnd)="mapInteractionEnd()"
>
  <!-- The map controls -->
  <mgl-control mglNavigation position="bottom-left"></mgl-control>
  <mgl-control mglScale unit="metric" position="bottom-right"></mgl-control>

  <mgl-image [id]="USER_LOCATION_SYMBOL" [data]="userLocationSymbol" [options]="{ pixelRatio: 2 }"> </mgl-image>

  <!-- The POIs source -->
  <mgl-geojson-source
    id="pois"
    [data]="mapGeoJson"
    [cluster]="true"
    [clusterMaxZoom]="clusterMaxZoom"
    [clusterRadius]="clusterRadius"
  ></mgl-geojson-source>

  <!-- The landing point source -->
  <mgl-geojson-source id="center-location" [data]="centerLocationGeoJson"></mgl-geojson-source>

  <!-- The landing point source -->
  <mgl-geojson-source id="user-location" [data]="userLocationGeoJson"></mgl-geojson-source>

  <!-- The clusters -->
  <mgl-layer
    id="clustered-pois"
    type="circle"
    source="pois"
    [filter]="['has', 'point_count']"
    [paint]="{
      'circle-color': clusterColor,
      'circle-radius': {
        property: 'point_count',
        type: 'interval',
        stops: clusterSizes
      }
    }"
    (layerClick)="onClusterClick($event)"
  >
  </mgl-layer>

  <!-- The cluster markers count -->
  <mgl-layer
    id="cluster-count"
    type="symbol"
    source="pois"
    [filter]="['has', 'point_count']"
    [layout]="{
      'text-field': '{point_count_abbreviated}',
      'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
      'text-size': 12
    }"
  >
  </mgl-layer>

  <!-- The markers that do not fit any cluster -->
  <mgl-layer
    id="unclustered-pois"
    type="symbol"
    source="pois"
    [filter]="['!has', 'point_count']"
    [layout]="{
      'icon-image': '{marker-symbol}',
      'icon-offset': [0, 20]
    }"
    (layerClick)="onMarkerClick($event)"
  >
  </mgl-layer>

  <!-- The current landing point -->
  <mgl-layer
    id="center-point"
    type="circle"
    source="center-location"
    [paint]="{
      'circle-color': 'rgba(' + CENTER_LOCATION_COLOR_RGB + ', 0.8)',
      'circle-radius': 8
    }"
  >
  </mgl-layer>
  <mgl-layer
    id="center-point-2"
    type="circle"
    source="center-location"
    [paint]="{
      'circle-color': 'rgba(' + CENTER_LOCATION_COLOR_RGB + ', 0.5)',
      'circle-radius': 20
    }"
  >
  </mgl-layer>

  <!-- The user location -->
  <mgl-layer id="user-point" type="symbol" source="user-location" [layout]="{ 'icon-image': USER_LOCATION_SYMBOL }">
  </mgl-layer>

  <mgl-popup
    *ngIf="selectedFeatures && selectedFeatures[0]"
    [className]="
      selectedFeatures[0].properties.source === SOURCES.OSM && selectedFeatures[0].properties.wikipedia
        ? 'wiki-resource'
        : ''
    "
    [lngLat]="selectedCoordinates"
    [closeOnClick]="true"
  >
    <div class="popup-close-button">
      <button mat-icon-button (click)="closePopup()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div [ngSwitch]="hasMultiItems">
      <div *ngSwitchCase="false">
        <div
          class="popup-content"
          [ngClass]="{
            'multi-items': false,
            'wiki-content':
              selectedFeatures[0].properties.source === SOURCES.OSM && selectedFeatures[0].properties.wikipedia
          }"
        >
          <div class="title" title="{{ getMapItemTitle(selectedFeatures[0]) }}">
            {{ getMapItemTitle(selectedFeatures[0]) }}
          </div>

          <ng-container [ngSwitch]="selectedFeatures[0].properties.source === SOURCES.OSM">
            <!-- Internal content -->
            <ng-container *ngSwitchCase="false">
              <div
                class="description"
                *ngIf="selectedFeatures[0].properties.descr && selectedFeatures[0].properties.descr != 'null'"
              >
                {{ selectedFeatures[0].properties.descr }}
              </div>
              <div class="link">
                <a routerLink="{{ selectedFeatures[0].properties.internal_link }}">{{ 'OPEN_DETAIL' | translate }}</a>
              </div>
            </ng-container>
            <!-- Content from OSM -->
            <ng-container *ngSwitchDefault>
              <!-- External frame -->
              <ng-container *ngIf="selectedFeatures[0].properties.wikipedia">
                <iframe [src]="getMapItemWikipage(selectedFeatures[0])" class="external-resource-iframe"></iframe>
                <div class="link">
                  <a routerLink="{{ selectedFeatures[0].properties.internal_link }}">{{ 'OPEN_DETAIL' | translate }}</a>
                </div>
              </ng-container>

              <!-- Description -->
              <ng-container *ngIf="!selectedFeatures[0].properties.wikipedia">
                <div
                  *ngIf="selectedFeatures[0].properties.ele"
                  class="description"
                  [innerHTML]="'OSM_PEAK_DESCRIPTION' | translate: { ele: selectedFeatures[0].properties.ele }"
                ></div>
                <div class="link">
                  <a routerLink="{{ selectedFeatures[0].properties.internal_link }}">{{ 'OPEN_DETAIL' | translate }}</a>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <!-- List of items -->
      <div *ngSwitchDefault>
        <div class="popup-content" [ngClass]="{ 'multi-items': true }">
          <perfect-scrollbar>
            <div class="popup-item" *ngFor="let item of selectedFeatures">
              <div class="category {{ getPoiCategoryClass(item) }}">{{ getPoiCategoryTag(item) }}</div>
              <h4 title="{{ getMapItemTitle(item) }}">
                <a routerLink="{{ item.properties.internal_link }}">{{ getMapItemTitle(item) }}</a>
              </h4>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </mgl-popup>
</mgl-map>

<!-- The loader -->
<div *ngIf="loadingData" class="map-loader">
  <div class="spinner">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
  <span class="text">
    {{ 'LOADING_MAP' | translate }}
  </span>
</div>
