@import '../../../colors';
@import '../../../common';
@import '../../../mixins';

$closeButtonSize: 20px;
$closeButtonFontsize: $closeButtonSize - 4px;
$popupWidth: 300px;
$popupHeight: 180px;

$wikiPopupWidth: 320px;
$wikiPopupHeight: 260px;

mgl-map {
  height: 100%;
  width: 100%;

  ::ng-deep .mapboxgl-popup {
    max-width: $popupWidth !important;
    width: $popupWidth;

    &.wiki-resource {
      max-width: $wikiPopupWidth !important;
      width: $wikiPopupWidth;
    }

    z-index: $maxZIndex;
  }
  ::ng-deep .mapboxgl-popup-content {
    border-radius: 10px;
  }
  ::ng-deep .mapboxgl-popup-close-button {
    display: none;
  }

  .popup-close-button {
    top: 5px;
    right: 10px;
    position: absolute;
    z-index: $maxZIndex - 1;
    color: rgba(black, 0.4);
    background: white;

    &:hover {
      color: rgba(black, 0.8);
    }

    button {
      width: $closeButtonSize;
      height: $closeButtonSize;
      line-height: $closeButtonSize;

      mat-icon {
        font-size: $closeButtonFontsize;
        line-height: $closeButtonSize;
        width: $closeButtonSize;
        height: $closeButtonSize;
        padding-bottom: $closeButtonSize - $closeButtonFontsize;
      }
    }
  }

  .popup-content {
    position: relative;

    height: $popupHeight;

    &.wiki-content {
      height: $wikiPopupHeight;

      .external-resource-iframe {
        height: calc(100% - 35px);
        border: none;
        border-radius: 0 0 7px 7px;
      }
    }

    &.multi-items {
      overflow: hidden;

      height: $popupHeight;

      &:after {
        pointer-events: none;
        position: absolute;
        content: '';
        bottom: 0;
        display: block;
        width: 100%;
        height: 5px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }

      .popup-item {
        cursor: pointer;

        display: block;
        width: 100%;
        min-height: 32px;
        border-bottom: 1px solid rgba(black, 0.05);

        margin-top: 4px;
        margin-bottom: 4px;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }

        h4 {
          color: black;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 26px;
          @include multilineTruncate(1);

          a {
            color: black;
            text-decoration: none;

            &:hover {
              color: $primary;
            }
          }
        }

        .category {
          margin-right: 5px;
          @include poiCategoryBadge();
        }
      }
    }

    .external-resource-iframe {
      width: 100%;
      height: 100%;
      border: none;
      background: #f1f1f1;
    }
  }

  .title {
    @include multilineTruncate(3);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .description {
    position: relative;
    margin-top: 3px;
    font-size: 13px;
    line-height: 15px;
    min-height: 110px;
    max-height: 76%;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.55);

    &::first-letter {
      text-transform: uppercase;
    }

    &:after {
      pointer-events: none;
      position: absolute;
      content: '';
      bottom: 0;
      display: block;
      width: 100%;
      height: 105px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }

  .link {
    position: absolute;
    bottom: -7px;
    width: 100%;
    text-align: center;

    a {
      font-size: 13px;
      text-transform: uppercase;
      color: $primary;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.map-loader {
  position: relative;
  display: inline-block;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $maxZIndex - 1;

  height: 40px;
  border-radius: 40px;

  background: rgba(black, 0.95);

  .spinner {
    display: inline-block;
    padding-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
  }

  .text {
    color: rgba(white, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    line-height: 38px;
    padding-right: 15px;
  }
}

.map-loader {
  position: relative;
  display: inline-block;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $maxZIndex - 1;

  height: 40px;
  border-radius: 40px;

  background: rgba(black, 0.95);

  .spinner {
    display: inline-block;
    padding-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
  }

  .text {
    color: rgba(white, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    line-height: 38px;
    padding-right: 15px;
  }
}
