@import '../common';
@import '../colors';

.main,
.map {
  width: 100%;
  height: 100%;
}

.main.has-content {
  .header {
    background-color: rgba(white, 0.5);
  }
}

.header {
  display: flex;
  position: relative;
  z-index: $maxZIndex;
  width: 100%;
  height: $headerHeight;
  margin-bottom: -$headerHeight;
  background-color: transparent;
}

.sidenav {
  position: relative;
  z-index: $maxZIndex;
  width: $sidebarWidth;
  flex: 0 0 $sidebarWidthEm;
  height: 100%;
  background: $sidebarBg;
  box-shadow: -2px 0 6px rgba(black, 0.25);
}

.content {
  position: absolute;
  z-index: $maxZIndex - 1;
  bottom: 0;
  width: 100%;
  height: calc(100% - #{$headerHeight});
  background-color: $contentBg;

  .section {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: calc(#{$sidebarWidth} + 20px);
    height: calc(100% - 52px);
  }
}

@media only screen and (max-width: $mobileBreakpointWidth) {
  .content {
    .section {
      width: 90%;
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media only screen and (min-width: $hugeScreenBreakpointWidth) {
  .content {
    .section {
      width: 1280px;
      margin: 0 auto;
    }
  }
}
