<div class="main" fxLayout="row">
  <div class="map">
    <wci-header
      class="header"
      (search)="onSearch($event)"
      (queryChanged)="onSearchQueryChanged($event)"
      (suggestionSelected)="onSuggestionSelected($event)"
      (optionsUpdated)="onOptionsUpdated($event)"
    ></wci-header>
    <wci-map
      [zoom]="zoom"
      [centerLocation]="currentLocation"
      [userLocation]="userLocation"
      [pois]="nearbyPois"
      (ready)="onMapReady($event)"
      (update)="onMapUpdate($event)"
    ></wci-map>
  </div>
  <div class="sidenav" fxShow="false" fxShow.gt-sm>
    <wci-sidebar
      [currentLocation]="currentLocation"
      [pois]="latestPois"
      (poiSelected)="onPoiSelected($event)"
    ></wci-sidebar>
  </div>
</div>
