<div class="main" [ngClass]="{ 'has-content': showContent && !isFloatingContent }" fxLayout="row">
  <div class="actions">
    <button color="primary" mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button color="primary" mat-mini-fab [matMenuTriggerFor]="languagesMenu">
      <mat-icon>language</mat-icon>
    </button>
    <button
      *ngIf="userLocation"
      class="position-selector"
      color="primary"
      mat-mini-fab
      [matMenuTriggerFor]="positionMenu"
    >
      <mat-icon>place</mat-icon>
    </button>

    <!-- The menu panel -->
    <mat-menu #menu="matMenu" class="menu custom-menu">
      <button mat-menu-item (click)="onSectionSelected('crags')">{{ 'CRAGS' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('hikes')">{{ 'HIKES' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('shelters')">{{ 'SHELTERS' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('places')">{{ 'PLACES' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('competitions')">{{ 'COMPETITIONS' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('news')">{{ 'NEWS' | translate }}</button>
      <div class="separator"></div>
      <button mat-menu-item (click)="onExternalLinkSelected('https://github.com/WeClimb-it')">
        {{ 'GITHUB' | translate }}
      </button>
      <button mat-menu-item (click)="onExternalLinkSelected('https://github.com/WeClimb-it/weclimb.it/issues')">
        {{ 'GITHUB_ISSUES' | translate }}
      </button>
      <div class="separator"></div>
      <button mat-menu-item (click)="onExternalLinkSelected('https://www.iubenda.com/privacy-policy/42375803')">
        Privacy
      </button>
      <script type="text/javascript">
        (function (w, d) {
          var loader = function () {
            var s = d.createElement('script'),
              tag = d.getElementsByTagName('script')[0];
            s.src = 'https://cdn.iubenda.com/iubenda.js';
            tag.parentNode.insertBefore(s, tag);
          };
          if (w.addEventListener) {
            w.addEventListener('load', loader, false);
          } else if (w.attachEvent) {
            w.attachEvent('onload', loader);
          } else {
            w.onload = loader;
          }
        })(window, document);
      </script>
      <div class="separator"></div>
      <div class="copyleft">(ɔ) - {{ year }} WeClimb.it</div>
    </mat-menu>

    <!-- The languages panel -->
    <mat-menu #languagesMenu="matMenu" class="languages-menu custom-menu">
      <button
        mat-menu-item
        *ngFor="let language of environment.i18n.availableLangsLabels; let i = index"
        (click)="onLanguageSelected(i)"
      >
        {{ language }}
      </button>
    </mat-menu>

    <!-- The user position panel -->
    <mat-menu #positionMenu="matMenu" class="position-menu custom-menu">
      <ng-container *ngIf="userLocation">
        <span *ngIf="userLocation.city" class="message">{{
          'USER_LOCATION_MESSAGE' | translate: { city: userLocation.city }
        }}</span>
        <span *ngIf="!userLocation.city" class="message">{{ 'USER_LOCATION_MESSAGE_NO_CITY' | translate }}</span>
        <div>
          <button mat-flat-button color="primary" (click)="onEnableGeolocation()">
            <ng-container *ngIf="!hasActivatedBrowserGeolocation">{{ 'ENABLE_GEOLOCATION' | translate }}</ng-container>
            <ng-container *ngIf="hasActivatedBrowserGeolocation">{{ 'USE_GEOLOCATION' | translate }}</ng-container>
          </button>
        </div>
      </ng-container>
    </mat-menu>
  </div>

  <!-- The map -->
  <div class="map">
    <div class="header-container">
      <wci-header
        class="header"
        (search)="onSearch($event)"
        (queryChanged)="onSearchQueryChanged($event)"
        (suggestionSelected)="onSuggestionSelected($event)"
        (optionsUpdated)="onOptionsUpdated($event)"
      ></wci-header>
    </div>
    <wci-map
      *ngIf="currentLocation && userLocation"
      [zoom]="zoom"
      [centerLocation]="currentLocation"
      [userLocation]="userLocation"
      [userOrientation]="currentOrientation"
      [pois]="nearbyPois"
      [osmPois]="nearbyOsmPois"
      [loadingOsmData]="isOsmNearbyLoading"
      [loadingWciData]="isNearbyLoading"
      (ready)="onMapReadyOrUpdate($event)"
      (update)="onMapReadyOrUpdate($event)"
    ></wci-map>
  </div>

  <!-- The sidenav -->
  <div class="sidenav" fxShow="false" fxShow.gt-sm>
    <wci-sidebar
      [loading]="isNearbyLoading"
      [currentLocation]="currentLocation"
      [pois]="nearbyPois"
      (sectionSelected)="onSectionSelected($event)"
      (poiSelected)="onPoiSelected($event)"
    ></wci-sidebar>
  </div>

  <!-- The content container -->
  <div class="content" *ngIf="showContent && !isFloatingContent">
    <div class="section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- The floating content container -->
<ng-container *ngIf="showContent && isFloatingContent">
  <router-outlet></router-outlet>
</ng-container>
