@import '../common';
@import '../colors';

.main,
.map {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  position: relative;
  z-index: $maxZIndex;
  width: 100%;
  height: $headerHeight;
  margin-bottom: -$headerHeight;
  background-color: transparent;
}

.sidenav {
  position: relative;
  width: $sidebarWidth;
  height: 100%;
  background: $sidebarBg;
  box-shadow: -2px 0 10px #0000004d;
}
