[submodule "backend"]
	path = backend
	url = https://github.com/WeClimb-it/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/WeClimb-it/frontend.git
[submodule "design"]
	path = design
	url = https://github.com/WeClimb-it/design.git
[submodule "crawlers"]
	path = crawlers
	url = https://github.com/WeClimb-it/crawlers.git
[submodule "scraper"]
	path = scraper
	url = https://github.com/WeClimb-it/scraper
[submodule "admin"]
	path = admin
	url = https://github.com/WeClimb-it/admin.git
