@import '../../../common';

.detail-container {
  position: absolute;
  top: calc(50% + 55px);
  transform: translateY(calc(-50% + 55px));

  z-index: $maxZIndex;

  width: calc(100vw - #{$sidebarWidth});
  height: 77vh;
  min-height: 320px;
  max-height: 920px;

  &.small {
    wci-detail-card {
      width: auto;
    }
  }

  wci-detail-card {
    display: inline-block;
    width: calc(100vw - #{$sidebarWidth} - 80px);
    max-width: 920px;
  }
}

@media only screen and (max-height: 748px) {
  .detail-container {
    height: 60vh;
  }
}

@media only screen and (max-width: $mobileBreakpointWidth) {
  .detail-container {
    left: 0;
    bottom: 0;
    width: 100vw;

    wci-detail-card {
      width: 100%;
      max-width: 100%;

      ::ng-deep .detail-card {
        border-radius: 30px 30px 0 0;
      }
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 1020px) {
  .detail-container {
    &.small {
      wci-detail-card {
        width: $detailCardSmallWidth;
      }
    }
  }
}
