<div class="map-location">
  <div class="content">
    <h4>{{ 'CURRENT_LOCATION' | translate }}</h4>
    <span class="city">{{ currentLocation.city }}</span>
    <span class="coords">
      <mat-icon aria-hidden="false">gps_fixed</mat-icon>
      <span>{{ currentLocationStr }}</span>
    </span>
  </div>
</div>
<ng-container>
  <div class="panel crags-boulders">
    <div class="visual">
      {{ 'CRAGS_N_BOULDERS' | translate }}
    </div>
    <ng-container *ngIf="pois">
      <ng-container *ngIf="pois.crags.length > 0">
        <perfect-scrollbar class="list white-scroll">
          <div class="item poi" *ngFor="let item of pois.crags.slice(0, MAX_ITEMS)" (click)="onEntitySelected(item)">
            <h2>{{ item.title }}</h2>
            <span [innerHTML]="item.coords | distance: currentLocation:false:false:false:false"></span>
          </div>
        </perfect-scrollbar>
        <div class="links">
          <a (click)="goToSection('crags')">{{ 'SEE_FULL_LIST' | translate }}</a>
        </div>
      </ng-container>
      <div *ngIf="pois.crags.length == 0" class="no-results">{{ 'NO_CRAGS_NEARBY' | translate }}</div>
    </ng-container>
    <div *ngIf="loading" class="list">
      <div class="sidebar-loading">{{ 'LOADING' | translate }}</div>
    </div>
  </div>

  <div class="panel hikes-shelters">
    <div class="visual">{{ 'HIKES_N_SHELTERS' | translate }}</div>
    <ng-container *ngIf="pois">
      <ng-container *ngIf="pois.hikes.length > 0 || pois.shelters.length > 0">
        <perfect-scrollbar class="list white-scroll">
          <div *ngIf="pois.hikes.length > 0">
            <div class="item hike" *ngFor="let item of pois.hikes.slice(0, MAX_ITEMS)" (click)="onEntitySelected(item)">
              <h2>{{ item.title }}</h2>
              <span [innerHTML]="item.coords | distance: currentLocation:false:false:false:false"></span>
            </div>
          </div>
          <div *ngIf="pois.shelters.length > 0 && pois.hikes.length > 0" class="divider"></div>
          <div *ngIf="pois.shelters.length > 0">
            <div
              class="item shelter"
              *ngFor="let item of pois.shelters.slice(0, MAX_ITEMS)"
              (click)="onEntitySelected(item)"
            >
              <h2>{{ item.name }}</h2>
              <span [innerHTML]="item.coords | distance: currentLocation:false:false:false:false"></span>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="links">
          <a (click)="goToSection('hikes')">{{ 'MORE_HIKES' | translate }}</a>
          <a (click)="goToSection('shelters')">{{ 'MORE_SHELTERS' | translate }}</a>
        </div>
      </ng-container>
      <div *ngIf="pois.shelters.length == 0 && pois.hikes.length == 0" class="no-results">
        {{ 'NO_SHELTERS_NO_HIKES' | translate }}
      </div>
    </ng-container>
    <div *ngIf="loading" class="list">
      <div class="sidebar-loading">{{ 'LOADING' | translate }}</div>
    </div>
  </div>

  <div class="panel gyms-competitions">
    <div class="visual">{{ 'PLACES_N_COMPETITIONS' | translate }}</div>
    <ng-container *ngIf="pois">
      <ng-container *ngIf="pois.places.length > 0 || pois.competitions.length > 0">
        <perfect-scrollbar class="list white-scroll">
          <div *ngIf="pois.places.length > 0">
            <div
              class="item place"
              *ngFor="let item of pois.places.slice(0, MAX_ITEMS)"
              (click)="onEntitySelected(item)"
            >
              <h2>{{ item.title }}</h2>
              <span [innerHTML]="item.coords | distance: currentLocation:false:false:false:false"></span>
            </div>
          </div>
          <div *ngIf="pois.competitions.length > 0 && pois.places.length > 0" class="divider"></div>
          <div *ngIf="pois.competitions.length > 0">
            <div
              class="item competition"
              *ngFor="let item of pois.competitions.slice(0, MAX_ITEMS)"
              (click)="onEntitySelected(item)"
            >
              <h2>{{ item.title }}</h2>
              <span [innerHTML]="item.coords | distance: currentLocation:false:false:false:false"></span>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="links">
          <a (click)="goToSection('places')">{{ 'MORE_PLACES' | translate }}</a>
          <a (click)="goToSection('competitions')">{{ 'MORE_COMPETITIONS' | translate }}</a>
        </div>
      </ng-container>
      <div *ngIf="pois.places.length == 0 && pois.competitions.length == 0" class="no-results">
        {{ 'NO_PLACES_NO_COMPETITIONS' | translate }}
      </div>
    </ng-container>
    <div *ngIf="loading" class="list">
      <div class="sidebar-loading">{{ 'LOADING' | translate }}</div>
    </div>
  </div>
</ng-container>
