@import '../../../common';

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: default;
}

.title-actions {
  float: right;

  button {
    min-height: 28px;

    text-transform: uppercase;
    letter-spacing: 0.25px;
    cursor: pointer;
    font-size: 13px;
    color: rgba(black, 0.65);
    margin-right: 10px;
    border-radius: 100px;

    &:last-child {
      margin-right: 0;
    }

    mat-icon {
      color: rgba(black, 0.45);
      width: 20px;
      height: 20px;
      line-height: 18px;
      margin-left: -5px;
      margin-right: 10px;
    }
  }
}

.mat-dialog-content {
  position: relative;
  height: 30vh;
}

.selected {
  @include mat-elevation(4, black, 0.45);

  position: relative;
  z-index: $maxZIndex;
  border-radius: 4px;
  overflow: hidden;

  &:after {
    pointer-events: none;
    position: absolute;
    content: '';
    bottom: 5px;
    display: block;
    width: 100%;
    height: 50%;
    opacity: 0.85;
    background: linear-gradient(180deg, rgba(black, 0) 0%, rgba(black, 1) 100%);
    mix-blend-mode: overlay;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }
}

.thumbnails {
  text-align: center;
  padding-top: 10px;

  &:after {
    pointer-events: none;
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 100%;
    height: 35px;
    background: linear-gradient(180deg, rgba(white, 0) 0%, rgba(white, 1) 100%);
  }

  .thumbnail {
    @include mat-elevation(2, black, 0.25);

    display: inline-block;
    max-width: calc((100% / 3) - 30px);

    overflow: hidden;

    border-radius: 4px;
    border: 1px solid rgba(black, 0.05);
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;

    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 0.8;
    }

    &.highlight {
      opacity: 1;
    }

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .selected {
    width: 100%;
  }

  .title-actions {
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
