@import '~@angular/material/theming';

@import '../../../common';
@import '../../../colors';
@import '../../../mixins';

.metadata {
  margin-top: 10px;
  margin-bottom: 10px;

  mat-icon {
    vertical-align: middle;
  }

  mat-chip {
    font-size: 12px;
    min-height: 24px;
    margin-right: 5px;
    border: 1px solid rgba(black, 0.05);

    &:last-child {
      margin-right: 0;
    }

    &.category {
      background-color: rgba(black, 0.05);
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
}

.text {
  h4 {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    color: black;
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 5px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  width: 70%;
  display: inline-block;
  vertical-align: top;

  .description {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;

    @include multilineTruncate(5);
  }
}

.source-link {
  margin-top: 15px;
  color: rgba(black, 0.7);
  font-size: 11px;
}

.extra {
  width: calc(30% - 5px);
  margin-left: 5px;
  display: inline-block;

  mat-chip-list {
    pointer-events: none;

    mat-chip {
      color: $primaryAltDarker;
      overflow: hidden;
    }
  }

  .coeff {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 110%;
    position: relative;

    mat-icon {
      display: inline-block;
      vertical-align: middle;
      color: rgba(black, 0.38);
      margin-right: 5px;
    }

    mat-progress-bar {
      vertical-align: middle;
      display: inline-block;
      height: 10px;
      width: 80%;
    }

    .progress-info {
      @include mat-elevation(5, black, 0.15);
      display: inline-block;
      margin: 5px 30px;
      padding: 5px 10px;
      background: rgba(white, 1);
      color: $primary;
      font-size: 13px;
      font-weight: bold;
      line-height: 13px;
      border-radius: 60px;
    }
  }

  .info-box {
    margin-top: 5px;
    font-size: 14px;
    padding: 5px;
    color: rgba(black, 0.8);
    border-radius: 4px;
    width: 230px;

    &:first-of-type {
      margin-top: 10px;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(black, 0.05);
    }

    & > div {
      width: calc(90% - 5px);
      vertical-align: top;
    }

    mat-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      display: inline-box;
      margin-right: 5px;
    }
  }
}

@mixin reducedWidthRules() {
  .text {
    width: 100%;
  }

  .extra {
    margin-top: 20px;
    width: 100%;

    .info-box {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $mobileBreakpointWidth) {
  @include reducedWidthRules();
}

@media only screen and (min-width: $mobileBreakpointWidth) and (max-width: $smallScreenBreakpointWidth) {
  @include reducedWidthRules();
}
