<h4>{{ data.title }}</h4>
<div class="text">
  <span class="description">{{ data.descr }}</span>
</div>
<div class="extra">
  <div class="stats">
    <mat-chip-list>
      <mat-chip color="primary" selected
        ><strong>{{ data._stats.sectorsCount }}</strong
        >&nbsp;sectors</mat-chip
      >
      <mat-chip color="primary" selected
        ><strong>{{ data._stats.routesCount }}</strong
        >&nbsp;routes</mat-chip
      >
    </mat-chip-list>
    <div class="coeff" aria-label="Climate trend">
      <mat-icon aria-hidden="false" aria-label="Warm">brightness_high</mat-icon
      ><mat-progress-bar mode="determinate" value="{{ data.quality_rank.weather * 100 }}"></mat-progress-bar>
      <div class="progress-info">avg. {{ data.quality_rank.weatherExtended[currentMonth].value }} °C</div>
    </div>
    <div class="coeff" aria-label="Difficulty">
      <mat-icon aria-hidden="false" aria-label="Hard">fitness_center</mat-icon
      ><mat-progress-bar mode="determinate" value="{{ data.quality_rank.difficulty * 100 }}"></mat-progress-bar>
    </div>
    <div class="coeff" aria-label="Accessibility">
      <mat-icon aria-hidden="false" aria-label="Far">terrain</mat-icon
      ><mat-progress-bar mode="determinate" value="{{ data.quality_rank.position * 100 }}"></mat-progress-bar>
      <div class="progress-info">{{ data.altitude }} mt.</div>
    </div>
  </div>
</div>
