<div class="container" (click)="goToDetailUrl(data.slug)">
  <div class="metadata">
    <mat-chip-list>
      <mat-chip class="no-mouse" color="accent" selected>
        <span [innerHTML]="data.coords | distance: currentLocation"></span>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="text">
    <h4>{{ data.title }}</h4>
    <div *ngIf="data.descr" class="description">{{ data.descr | capitalizeFirst }}</div>
  </div>
  <div class="source-link">
    source: <a href="{{ data.resource_url }}" target="_blank">{{ data.resource_url }}</a>
  </div>
</div>
