// TODO: Get colors from the mat-palette
$primary: #40cd7e;
$primaryAltDark: #22603d;
$primaryAltDarker: #18422a;
$primaryPale: #69a181;
$accent: #ffe100;
$sidebarBg: #171717;
$contentBg: #fffefe;
$acidRed: #ff5f58;

$hikePinColor: #57bb28;
$cragPinColor: #3c40c6;
$shelterPinColor: #bb6328;
$placePinColor: #f53b57;
$eventPinColor: #ffcd03;
$drinkingWaterPinColor: #14c0ff;
