// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$maxZIndex: 99999;
$sidebarWidth: 330px;
$sidebarWidthEm: 20.625em;
$headerHeight: 160px;
$mobileBreakpointWidth: 1020px;
$smallScreenBreakpointWidth: 1200px;
$hugeScreenBreakpointWidth: 1670px;
$detailCardSmallWidth: 313px;
