@mixin multilineTruncate($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@mixin item-extras() {
  .extra {
    width: calc(30% - 5px);
    margin-left: 5px;
    display: inline-block;

    mat-chip-list {
      mat-chip {
        pointer-events: none;
        color: $primaryAltDarker;
        overflow: hidden;

        &.mouse-enabled {
          cursor: pointer;
          pointer-events: all;
        }
      }
    }

    .download-gpx-button,
    .google-button {
      z-index: $maxZIndex;
      position: absolute;
      top: 10px;
      text-align: center;
      width: 100%;

      button {
        @include mat-elevation(4, black);
        border-radius: 50px;
        font-weight: bold;
        color: white;
        border: 1px solid rgba(black, 0.15);
        background-color: rgba($cragPinColor, 0.85);
      }

      &.download-gpx-button {
        top: 55px;
      }
    }

    .coeff {
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 5px;
      padding-right: 5px;
      width: 110%;
      position: relative;

      mat-icon {
        display: inline-block;
        vertical-align: middle;
        color: rgba(black, 0.38);
        margin-right: 5px;
      }

      mat-progress-bar {
        vertical-align: middle;
        display: inline-block;
        height: 10px;
        width: 80%;
      }

      .progress-info {
        @include mat-elevation(5, black, 0.15);
        display: inline-block;
        margin: 5px 30px;
        padding: 5px 10px;
        background: rgba(white, 1);
        color: $primary;
        font-size: 13px;
        font-weight: bold;
        line-height: 13px;
        border-radius: 60px;
      }
    }

    .info-box {
      margin-top: 5px;
      font-size: 14px;
      padding: 5px;
      color: rgba(black, 0.8);
      border-radius: 4px;
      width: 230px;

      &:first-of-type {
        margin-top: 10px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(black, 0.05);
      }

      & > div {
        width: calc(90% - 5px);
        vertical-align: top;
      }

      mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
        display: inline-box;
        margin-right: 5px;
      }
    }
  }
}

@mixin poiCategoryBadge {
  position: relative;
  float: left;
  color: white;
  width: 14px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  padding: 3px 6px 3px 6px;
  border-radius: 90px;

  &.crag {
    background: $cragPinColor;
  }
  &.hike {
    background: $hikePinColor;
  }
  &.shelter {
    background: $shelterPinColor;
  }
  &.event,
  &.competition {
    background: $eventPinColor;
  }
  &.place {
    background: $placePinColor;
  }
  &.drinking-water {
    background: $drinkingWaterPinColor;
  }
}
