$md-wcipalette: (
  50: #e8f9f0,
  100: #c6f0d8,
  200: #a0e6bf,
  300: #79dca5,
  400: #5dd591,
  500: #40cd7e,
  600: #3ac876,
  700: #32c16b,
  800: #2aba61,
  900: #1cae4e,
  A100: #fff6bd,
  A200: #fff091,
  A400: #fee43d,
  A500: #ffe100,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A500: #000000,
  ),
);

// #ffe000
