// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'palette';
@import 'colors';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($md-wcipalette);
$frontend-accent: mat-palette($md-wcipalette, A500, A200, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}

a,
a:link,
a:active,
a:visited {
  color: $primaryAltDark;

  &:hover {
    color: $primary;
  }
}

.no-mouse {
  pointer-events: none;
}

.capitalize {
  display: inline-block;

  &::first-letter {
    text-transform: capitalize;
  }
}

.ps__rail-y {
  background-color: transparent !important;
}

// Global MD customizations --
.mat-paginator-range-actions {
  margin: 0 auto;
}

.mat-progress-bar-fill::after {
  background: rgb(64, 205, 126);
  background: linear-gradient(90deg, rgba(64, 205, 126, 1) 0%, rgba(64, 205, 126, 0) 100%);
}

.mat-progress-bar-buffer {
  background: #e4e8eb;
}

.mat-progress-bar {
  border-radius: 10px;
}
// --------------------------
