@import 'palette';
@import 'colors';
@import 'common';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($md-wcipalette);
$frontend-accent: mat-palette($md-wcipalette, A500, A200, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 300),
);

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
  cursor: default;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}

a,
a:link,
a:active,
a:visited {
  color: $primaryAltDark;

  &:hover {
    color: $primary;
  }
}

*:focus {
  outline: none;
}

.no-mouse {
  pointer-events: none;
}

.capitalize {
  display: inline-block;

  &::first-letter {
    text-transform: capitalize;
  }
}

.ps__rail-y {
  background-color: transparent !important;
}

.ps__thumb-y {
  background-color: rgba(black, 0.05) !important;
}
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  background-color: rgba(black, 0.2) !important;
}

.white-scroll {
  .ps__thumb-y {
    background-color: rgba(white, 0.5) !important;
  }
  .ps__rail-y.ps--clicking .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y:hover > .ps__thumb-y {
    background-color: rgba(white, 0.95) !important;
  }
}

// Global MD customizations --
.custom-menu {
  @include mat-elevation(3, black, 0.4);

  margin-top: 10px;
  border-radius: 10px !important;
  background: rgba(white, 1);
  padding: 0 10px;

  width: 230px;

  .mat-menu-item {
    border-bottom: 1px solid rgba(black, 0.05);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: white;
      font-weight: 700;
    }
  }

  .copyleft {
    color: rgba(black, 0.6);
    padding: 10px 15px;
    font-size: 12px;
  }

  &.position-menu {
    .message {
      display: inline-block;
      margin: 5px;
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px;
    }

    button {
      width: 100%;
      font-size: 14px !important;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
    }
  }
}

.media-dialog .mat-dialog-container {
  width: 60vw !important;
}
@media only screen and (max-width: 1024px) {
  .media-dialog {
    max-width: 100vw !important;

    .mat-dialog-container {
      width: 100vw !important;
      padding: 10px;
    }
  }
}

.cdk-overlay-container {
  z-index: 999999 !important;

  .mat-dialog-container {
    @include mat-elevation(3, black, 0.8);
  }
}

.mat-paginator-range-actions {
  margin: 0 auto;
}

.mat-progress-bar-fill::after {
  background: rgb(64, 205, 126);
  background: linear-gradient(90deg, rgba(64, 205, 126, 1) 0%, rgba(64, 205, 126, 0) 100%);
}

.mat-progress-bar-buffer {
  background: #e4e8eb;
}

.mat-progress-bar {
  border-radius: 10px;
}
// --------------------------

//
// LOADER
//
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: $maxZIndex;
  top: 0;
  left: 0;
  background: rgba(white, 0.95);
}
.spin-loader {
  position: relative;
  width: 210px;
  height: 210px;
  margin: 35vh auto;
  left: -50px;
}
#loader-outline {
  stroke: $primary;
  stroke-dasharray: 2.42777px, 242.77666px;
  stroke-dashoffset: 0;
  -webkit-animation: loader-anim 1.6s linear infinite;
  animation: loader-anim 1.6s linear infinite;
}
#loader-outline-bg {
  stroke: black;
}
@-webkit-keyframes loader-anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }
  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }
  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}
@keyframes loader-anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }
  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }
  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}
//
// END LOADER
//
