<div class="container">
  <div class="metadata">
    <mat-chip-list>
      <mat-chip class="no-mouse" color="accent" selected>
        <span [innerHTML]="data.coords | distance: userLocation"></span>
      </mat-chip>
      <mat-chip *ngIf="showCategory" class="no-mouse category" selected>
        <span>{{ 'COMPETITION' | translate | uppercase }}</span>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="text">
    <div class="event-dates">
      <div *ngIf="startDate"><mat-icon>event_available</mat-icon> {{ startDate | amCalendar }}</div>
      <div *ngIf="endDate"><mat-icon>event_busy</mat-icon> {{ endDate | amCalendar }}</div>
    </div>
    <h4 (click)="goToDetailUrl(data.slug)">
      {{ data.title }}
      <mat-icon color="accent" *ngIf="hasBeenDisputed">done_outline</mat-icon>
    </h4>
    <span class="categories">{{ categories.join(', ') }}</span>
    <div *ngIf="data.info.details.text" class="description">{{ data.info.details.text | capitalizeFirst }}</div>
  </div>
  <div class="extra">
    <div *ngIf="data.info.place" class="place"><mat-icon>place</mat-icon> {{ data.info.place }}</div>
    <mat-chip-list>
      <mat-chip *ngFor="let type of types" color="primary" selected>{{ type }}</mat-chip>
      <mat-chip *ngFor="let specialty of specialties" color="primary" selected>{{ specialty }}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="source-link">
    {{ 'SOURCE' | translate }}: <a href="{{ data.resource_url }}" target="_blank">{{ data.resource_url }}</a>
  </div>
</div>
