<div class="container">
  <div class="metadata">
    <mat-chip-list>
      <mat-chip class="no-mouse" color="accent" selected>
        <span [innerHTML]="data.coords | distance: userLocation"></span>
      </mat-chip>
      <mat-chip *ngIf="showCategory" class="no-mouse category" selected>
        <span>{{ 'INDOOR' | translate }}</span>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="text">
    <h4 (click)="goToDetailUrl(data.slug)">{{ data.title }}</h4>
    <div *ngIf="data.descr" class="description">{{ data.descr | capitalizeFirst }}</div>
  </div>
  <div class="source-link">
    {{ 'SOURCE' | translate }}: <a href="{{ data.resource_url }}" target="_blank">{{ data.resource_url }}</a>
  </div>
</div>
