@import 'common.scss';

.extra {
  .chip {
    margin-right: 20%;
  }
}

.media {
  margin-bottom: 15px;

  .image {
    @include mat-elevation(2, black, 0.25);
    border: 1px solid rgba(black, 0.05);
    background: white;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    width: 150px;

    img {
      width: 100%;
      vertical-align: middle;
    }
  }
}

@mixin reducedWidthRules() {
  .extra {
    .chip {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: $mobileBreakpointWidth) {
  @include reducedWidthRules();
}

@media only screen and (min-width: $mobileBreakpointWidth) and (max-width: $smallScreenBreakpointWidth) {
  @include reducedWidthRules();
}
