<h2>
  {{ title }}
</h2>
<div class="title-actions">
  <button mat-stroked-button (click)="closeList()"><mat-icon>public</mat-icon>{{ 'GO_MAP' | translate }}</button>
</div>
<ng-container *ngIf="items && items.length > 0">
  <perfect-scrollbar class="list">
    <div *ngFor="let item of items">
      <ng-container [ngSwitch]="typeOfItem(item)">
        <ng-container *ngSwitchCase="'Crag'">
          <div class="item crag">
            <wci-crag-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [showCategory]="contentType === 'search'"
            ></wci-crag-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Hike'">
          <div class="item hike">
            <wci-hike-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [showCategory]="contentType === 'search'"
            ></wci-hike-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Shelter'">
          <div class="item shelter">
            <wci-shelter-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [showCategory]="contentType === 'search'"
            ></wci-shelter-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Place'">
          <div class="item place">
            <wci-place-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [showCategory]="contentType === 'search'"
            ></wci-place-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Competition'">
          <div class="item competition">
            <wci-competition-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [showCategory]="contentType === 'search'"
            ></wci-competition-list-item>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <mat-paginator
      *ngIf="navVisible"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      [pageIndex]="navCurrentPage - 1"
      [length]="navTotalItems"
      [pageSize]="navPageSize"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </perfect-scrollbar>
</ng-container>
<ng-container *ngIf="!isLoading && (!items || items.length == 0)">
  <div class="no-results">
    <h4>{{ 'NO_RESULTS' | translate }}</h4>
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <wci-loader></wci-loader>
</ng-container>
