<h2>
  {{ titlePlaceholder | translate }}
</h2>
<div class="title-actions">
  <button mat-stroked-button (click)="closeList()"><mat-icon>public</mat-icon>{{ 'GO_MAP' | translate }}</button>
</div>
<ng-container *ngIf="items && items.length > 0">
  <perfect-scrollbar class="list">
    <div *ngIf="isSearchPage">
      <div *ngIf="specialItems.locations.length > 0" class="cities">
        <strong>{{ 'WANNA_GO_TO' | translate }}:</strong>&nbsp;
        <span *ngFor="let city of specialItems.locations" (click)="onCitySelected(city)"
          >{{ city['name'] }}
          <i class="suggestion-distance"
            >(<i [innerHTML]="city['coords'] | distance: userLocation:false:false:false"></i>)</i
          ></span
        >
      </div>
    </div>
    <div *ngFor="let item of items">
      <ng-container [ngSwitch]="typeOfItem(item)">
        <ng-container *ngSwitchCase="'Crag'">
          <div class="item crag">
            <wci-crag-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [userLocation]="userLocation"
              [showCategory]="isSearchPage"
            ></wci-crag-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Hike'">
          <div class="item hike">
            <wci-hike-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [userLocation]="userLocation"
              [showCategory]="isSearchPage"
            ></wci-hike-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Shelter'">
          <div class="item shelter">
            <wci-shelter-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [userLocation]="userLocation"
              [showCategory]="isSearchPage"
            ></wci-shelter-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Place'">
          <div class="item place">
            <wci-place-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [userLocation]="userLocation"
              [showCategory]="isSearchPage"
            ></wci-place-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Competition'">
          <div class="item competition">
            <wci-competition-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [userLocation]="userLocation"
              [showCategory]="isSearchPage"
            ></wci-competition-list-item>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'News'">
          <div class="item news">
            <wci-news-list-item
              [data]="item"
              [currentLocation]="currentLocation"
              [userLocation]="userLocation"
              [showCategory]="isSearchPage"
            ></wci-news-list-item>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <mat-paginator
      *ngIf="navVisible"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      [pageIndex]="navCurrentPage - 1"
      [length]="navTotalItems"
      [pageSize]="navPageSize"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </perfect-scrollbar>
</ng-container>
<ng-container *ngIf="!isLoading && (!items || items.length == 0)">
  <div class="no-results">
    <h4>{{ 'NO_RESULTS' | translate }}</h4>
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <wci-loader></wci-loader>
</ng-container>
