@import '../../../common';
@import '../../../colors';

h2 {
  position: relative;
  font-size: 28px;
  color: #000000b8;
  cursor: default;
  font-weight: bold;
  letter-spacing: -1px;
  float: left;
}

.title-actions {
  float: right;

  button {
    min-height: 28px;

    text-transform: uppercase;
    letter-spacing: 0.25px;
    cursor: pointer;
    font-size: 13px;
    color: rgba(black, 0.65);
    margin-right: 10px;
    border-radius: 100px;

    &:last-child {
      margin-right: 0;
    }

    mat-icon {
      color: rgba(black, 0.45);
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-left: -8px;
      margin-right: 10px;
    }
  }
}

.list {
  margin-top: 60px;
  height: calc(100% - 45px);
  clear: both;

  &:after {
    pointer-events: none;
    position: absolute;
    content: '';
    top: 0;
    display: block;
    width: 100%;
    height: 6px;
    background: linear-gradient(180deg, rgba($contentBg, 1) 0%, rgba($contentBg, 0) 100%);
  }

  div {
    &:first-child {
      .item {
        padding-top: 0;
        margin-top: 0;
      }
    }
  }

  .cities {
    font-size: 13px;
    color: rgba(black, 0.65);

    span {
      cursor: pointer;
      display: inline-block;
      margin-right: 10px;
      color: $primaryPale;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .suggestion-distance {
      font-size: 10px;
    }
  }

  .item {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    cursor: default;
    border-bottom: 1px solid rgba(black, 0.05);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.no-results {
  h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 10vh;
    text-align: center;
    font-size: 40px;
    color: rgba(black, 0.5);
    cursor: default;

    strong {
      font-size: 80px;
    }
  }
}
